name: Workflow
on:
  push:
    branches:
      - pipeline-devsecops

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js 20
      uses: actions/setup-node@v2
      with:
        node-version: '20'

    - name: Instalar dependencias
      run: npm install

    - name: Build
      run: npm run build

    - name: Validando existencia de proyecto en SonarCloud
      id: validateProjectOnSonar
      run: |
        set +e
        response=$(curl -s -o /dev/null -w "%{http_code}" -u "${{ secrets.SONAR_TOKEN }}:" \
          -X POST "https://sonarcloud.io/api/projects/create" \
          -d "name=${{ github.event.repository.name }}" \
          -d "project=${{ github.event.repository.name }}" \
          -d "organization=curso-devsecops-usach" \
          -d "visibility=public")

        if [ "$response" -eq 403 ]; then
          echo "Autenticaci칩n fallida o permisos insuficientes para crear el proyecto en SonarCloud"
          exit 1
        elif [ "$response" -ne 200 ] && [ "$response" -ne 201 ]; then
          echo "Error al crear el proyecto en SonarCloud: C칩digo de respuesta $response"
          exit 1
        else
          echo "Proyecto ${{ github.event.repository.name }} fue creado exitosamente en SonarCloud"
          echo "Se establece rama main como rama por defecto"
          curl -s -u "${{ secrets.SONAR_TOKEN }}:" \
            -X POST "https://sonarcloud.io/api/project_branches/rename" \
            -d "name=main" \
            -d "project=${{ github.event.repository.name }}"
        fi


    - name: Install jq
      run: sudo apt-get install -y jq


    - name: Validando tipo de proyecto
      id: tipoProyecto
      if: steps.validateProjectOnSonar.outputs.proyectoExiste == '1'
      run: |
        pwd
        ls -R
        if [ -f "package.json" ]
        then
          echo "Proyecto Node.js"
          if grep -q '"sonarcloud"' package.json
          then
            echo "El script de SonarCloud ya est치 presente en package.json"
          else
            jq '.scripts.sonarcloud = "sonar-scanner"' package.json > tmp.$$.json && mv tmp.$$.json package.json
            echo "El script de SonarCloud no estaba presente y se ha a침adido a package.json"
            cat package.json
          fi
        else
          echo "Tipo de proyecto desconocido"
        fi




        


